.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 80%;
  padding-top: 5px;
}
.filter-button-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.filter-button{
  background-color: #ffffff;
  border: 1.5px solid #514dc4;
  color: #514dc4;
  padding: 5px ;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px;
}
.search-input{
  margin-top: 40px;
  border: 1.4px solid #514dc4;
  width: 100%;
  border-radius: 7px;
  padding: 5px;
  margin-bottom: 10px;
}

.event-list{
  padding: 15px;
}
.buttons-Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Create-Event-Button{
  background-color: #075d14;
  color: white;
  padding: 6px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border: 1.5px solid #b3e9bb;
  color: white;
}
.modal-backdrop{
  position: 'fixed';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
  background-color: rgba(0,0,0,0.3);
  padding: 20px;
}
.modal-content {
  background: #fff;
  padding: 10;
  border-radius: 20px;
  position: relative;
  z-index: 1000;
  min-width: 340px;
}