.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem;
  z-index: 1100;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0.2, 0.1, 0.3, 0.3);
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 5px;
  background: #FFFF;
}

.header-logo img {
  height: 50px; 
}

.header-menu {
  display: flex;
  align-items: center;
}
.icon{
  height: 30px;
  width: 30px;
  margin-right: 10px;
  color: #514dc4;
}

.menu {
  box-shadow: 0 4px 6px rgba(0.2, 0.1, 0.3, 0.3);
  border-radius: 5px;
  padding: 10px;
  padding-top: 1rem;
}
button{
  font-size: 1.1rem;
}