.event-card {
    border-radius: 1rem;
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-width: 350px;
}
.event-image {
  width: 100%;
  height: auto;        
  object-fit: contain;    
  border-radius: 7px;
}

.event-date {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    height: auto;
}
.icons {
    display: flex;
    height: 20px;
}

.clock-Logo{
    color: rgb(15, 52, 176);
}
.event-location{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    height: auto;
}

.location-Logo{
    color: rgb(3, 90, 3);
}
.owner-Logo{
    color: rgb(18, 3, 71);
    gap: 0.5rem;
}
.event-createdBy{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    height: auto;
}
.like-dislike{
    display: flex;
    gap: 5rem;
    justify-content: center;
}