.footer {
    background-color: #514dc4;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    padding: 10px;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  
  
  .footer-bottom {
    text-align: center;
  }