.Register-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 340px;
    box-shadow: 0 4px 6px rgba(0.2, 0.1, 0.3, 0.3);
    margin-top: 100px;
    flex-direction: column;
    padding: 20px;
}

.input-field {
    padding: 5px;
    border: 1.3px solid #2563EB;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 2.5rem;
    width: 90%;
}

.input-field:focus {
    border-color: #2563EB;
    outline: none;
}
.form-group-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.form-group-column label {
  align-self: flex-start;  
  text-align: left;
  margin-bottom: 4px;
}
.Register-Extra-Div{
  background-color: #514dc4;
  padding: 20px;
  margin-bottom: 0.5rem;
  border-radius: 15px 15px 0 0;
  text-align: center; 
  margin: -20px -20px 0 
}

.Register-Extra-Div-Text{
    margin-top: 10px;
    padding: 3px;
    border-radius: 8px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
}
.btn-container .Back-Btn,
.btn-container .login-button {
  height: 3rem;           
  margin: 0;              
  display: flex;
  align-items: center;       
  justify-content: center;   
}
.Back-Btn{
  border-radius: 10px;
}
.profile-pic-input {
  display: none;
}
.profile-pic-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.image-icon{
  height: 22px;
  width: 22px;
}
.img-upload-button{
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 2.5rem;
  border: 1.2px solid #514dc4;
  background-color: white;
}
.img-upload-content {
  display: flex;
  align-items: center; /* Align icon and text vertically */
  gap: 8px; /* Add space between the icon and text */
}

.image-icon {
  font-size: 1.2rem; /* Adjust icon size */
  color: #514dc4; /* Optional: Set icon color */
}