body{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}
.btn-primary {
  background-color: #1893fe; 
  border: 1px solid #6fb6f5;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-primary:active {
  background-color: #87c3f8;  
  transform: scale(1.02);
  transition: transform 0.1s;
}

* {
  font-family: var(--font-satoshi), system-ui, sans-serif;
}
h1 {
  font-weight: 350;
}
h2 {
  font-weight: 350;
}

.Back-Btn{
   background-color: #6c757d;
  border: 1px solid #6c757d;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}
