@import 'tailwindcss';

body{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
  height: 100vh;
}
.btn-primary {
  background-color: #514dc4; 
  border: 1px solid #2823b9;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.btn-primary:active {
  transform: scale(1.02);
  transition: transform 0.1s;
}

* {
  font-family: var(--font-satoshi), system-ui, sans-serif;
}
h1 {
  font-weight: 350;
}
h2 {
  font-weight: 350;
}

.Back-Btn{
  background-color: #6c757d;
  border: 1px solid #6c757d;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}
